@model IEnumerable<Billing.DTOs.DTOs.SparePartFieldDTO>
@if (Model != null && Model.Count() > 0)
{
    foreach (var SparePart in Model)
    {
        <div class="form-row sparepart SpartPart-@SparePart.SparePartId">
            <div class="form-group col-md-4">
                <label asp-for="@SparePart.SparePartName">Name</label>
                <input type="text" class="form-control" data-SparePartId="@SparePart.SparePartId"
                       data-PrimaryKeyId ="@SparePart.QuotationSparePartId"
                       asp-for="@SparePart.SparePartName" placeholder="Enter Spare Part" readonly>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="@SparePart.SparePartQuantity">Quantity</label>
                <input type="number" class="form-control" data-SparePartId="@SparePart.SparePartId" asp-for="@SparePart.SparePartQuantity" placeholder="Enter Quantity">
            </div>
            <div class="form-group col-md-4">
                <label asp-for="@SparePart.TaxApply">Tax Apply</label>
                <input type="checkbox" class="form-control" data-SparePartId="@SparePart.TaxApply" asp-for="@SparePart.TaxApply">
            </div>
            <div class="form-group col-md-6 d-none">
                <label asp-for="@SparePart.Price">Price</label>
                <input type="number" class="form-control" data-SparePartId="@SparePart.Price" asp-for="@SparePart.Price" placeholder="Enter Quantity">
            </div>
        </div>
    }
}